body {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.center-content{
  padding-left: 20px;
  margin-left: 120px;
  border-radius: 30px 20px 30px 20px;
}
.center-content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.div-co{
  display: flex;
}
.image {
    position: absolute;
    width: 100%;
    height: 100px;
    object-fit: cover;
    z-index: -1;
    transform: scale(1.8);
    animation: scaleImage 5s ease-out forwards;
}

/* .text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: calc(10px + 8vw);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05em;
    white-space: nowrap;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    mix-blend-mode: multiply;
    opacity: 0;
    animation: fadeInText 3s 2s ease-out forwards; */


/* @keyframes scaleImage {
    100% {
        transform: scale(1);
    }
}

@keyframes fadeInText {
    100% {
        opacity: 1;
    }
} */


h1{
    text-align: center;

}

.header-text{
    background-image: linear-gradient(to bottom right,
    #5dade2,
    #7fb3d5,
    #a2a3c3,
    #c67d8f,
    #f4d03f);
    height: 80px;
    border-radius: 0px 0px 20px 20px;
}


