*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);    font-family: 'Roboto',sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}
.outer-div{
    width: 420px;
    height: 440px;
    border: 2px solid black;
    border-radius: 4.5px ;
    box-shadow: 8px 8px 8px 8px #323e55;
    margin-top: 50px;
    margin-left: 90px;
}
.content-header{
    text-align: center;
    margin-top: 10px;

}
.content-header input{
    width: 200px;
    padding: 10px;
    border: 1.5px solid black;
    box-shadow: 2px #323e55;
    border-radius: 3.5px ;
    background:transparent;
    color: black;
    font-size: 1em;
    transition: 0.5s;
}
.content-header span{
    position: relative;
    left: 0;
    padding: 10px;
    padding-top: 10px;
    pointer-events: none;
    font-size: 1.1em;
    color: black;
    text-transform: uppercase;
    transition: 0.5s;
}

.content{
    background-color: rgb(229, 236, 236);
    width: 200px;
    height: 28px;
    margin: 0px;
    border: 8px solid black;
   
}

